# Приклад налаштувань (скопіюйте цей файл і назвіть його .env)

# Режим відлагодження (True - для локалки, False - для продакшену)
DEBUG=True

# Секретний ключ для локальної розробки (не використовувати в продакшені!)
SECRET_KEY=django-insecure-super-secret-local-key-123

# Підключення до бази даних (Docker)
DATABASE_URL=postgres://postgres:postgres_password@db:5432/erp_db

# Безпека та CORS (дозволені адреси через кому)
ALLOWED_HOSTS=localhost,127.0.0.1,*
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret